<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />

    <link th:href="@{/assets/bower_components/bootstrap/dist/css/bootstrap.css}"
          href="../../assets/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link th:href="@{/assets/bower_components/bootstrap/dist/css/bootstrap-theme.css}"
        href="../../assets/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />

    <style>
       .centerfy img {
           margin: 0 auto;
       }
       .centerfy {
           text-align: center;
       }
    </style>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="container">

    <div class="jumbotron centerfy">
      <h1>Start Deep Working!</h1>
      <p class="lead">Create a new project and start monitoring your
        progress discovering better approach when working</p>
      <p>
        <a class="btn btn-lg btn-success" th:href="@{/project/new}"
            href="project/new_project.html" role="button">Create a new project</a>
      </p>
    </div>

    <table class="table">
        <tr>
            <td class="col-md-1">Details</td>
            <td class="col-md-2">Project</td>
            <td class="col-md-8">Activity types</td>
        </tr>

        <tr th:each="project : ${projects}">
            <td>
               <a class="details" th:href="@{/project/{id}(id=${project.id})}" href="project/project_details.html">
                  <span class="glyphicon glyphicon-zoom-in"></span>
               </a>
            </td>
            <td th:text="${project.name}">Projecto A</td>
            <td th:text="${project.activityTypes}">Escrever, Estudar, Pesquisa</td>
        </tr>

    </table>

  </div>
</body>
</html>
